<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsão do tempo - ASP.NET</title>
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery.js")
    @Scripts.Render("~/bundles/bootstrap.js")
    @RenderSection("scripts", required: false)
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            @Html.ActionLink("Previsão do tempo", "Index", "Home", new { @class = "nav-link navbar-brand" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <li>@Html.ActionLink("Sobre", "About", "Home", new { @class = "nav-link" })</li>
                </div>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        @RenderBody()
    </div>
</body>
</html>
